.contact {
  margin: auto;
  padding: 40px 30px;
  transition: all 0.3s ease;
}

.contact h1 {
  color: var(--accent);
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.6;
}

.contact a {
  color: var(#0077ff);
  text-decoration: none;
  font-weight: 500;
}

.contact a:hover {
  text-decoration: underline;
}
