.gas-title {
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.gas-content {
  margin-bottom: 2.5rem;
}

.gas-content p {
  margin-bottom: 1rem;
}
